<div class="l-colspan--r">
  {% if index %}
    {% for post in site.posts %}
      <a class="blog__post" href="{{ post.url }}">
        <span class="blog__post__image">
          {% if post.title_image %}
            <img src="/images/posts/{{post.title_image}}" class="img-circle">
          {% endif %}
        </span>
        <span>
          <i class="blog__post__date">{{ post.date | date_to_string }}</i>
          <b class="blog__post__title">{{ post.title }}</b>
        </span>
      </a>
    {% endfor %}
  {% else %}
    {% if truncated != true %}
      <a class="post__link--posts" data-icon="&lt;" href="/">
        <span class="t-hidden">Back to blog posts</span>
      </a>
    {% endif %}

    <p class="post__date--s">{{ page.date | date_to_string }}</p>
    <h1 class="post__title">{{ page.title }}</h1>
    {% if page.author %}
      <p class="post__author--s">by {{ page.author }}</p>
    {% endif %}

    <div class="t-body">
      {% if truncated != true %}
        {{ content }}
      {% endif %}
    </div>

    <footer class="post__footer">
      {% if page.author_email %}
        <img alt="{{ page.author }}" data-author-email="{{ page.author_email }}" class="post__avatar">
      {% endif %}
      <div class="blog__post__author-wrap">
        <p class="post__author">{{ page.author }}</p>
      </div>
    </footer>

    {% include comments.html %}
  {% endif %}
</div>
